@font-face { 
font-family: Overwatch; 
src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff");
}
img {
 max-width: 100%;
 height: auto;
}
li {
	font-family: Overwatch;
	font-size: 5em;
	color: white;
	text-align: center;
}