html{
	background-size: cover;
	/*background-image:url("../images/background-overwatch-top.jpg");
	*/
	background-color: #1a1a1a;
	background-attachment: fixed;
}
@font-face { 
font-family: Overwatch; 
src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff");
}


header{
	background-color: #1a1a1a;
	color:white;
	font-family: 'Overwatch', sans-serif;
	font-size:1.5em;
	border-bottom: solid black .25em;
}
header:after {
	margin-top: 5em;
}

#logo{
	zoom: 1;
	padding-left: 0.5em;
	vertical-align: middle;
}
#logo:hover {
	background-color: Transparent;
}
a{
	color: #D7D8E7;

	text-decoration:none;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	padding-top: 1em;
    overflow: hidden;
}

header li {
	border-right: solid black;
	padding: 0em 1em 0em 1em;
	text-align: center;
	font-size: 1.5em;
    display: inline;
}

.middle:hover, .last:hover {
	background-color: orange;
	color: black;
}

.last{
	border-right:none;
}

.dropbtn {
	font-family: Overwatch;
	color: #D7D8E7;
	background-color: Transparent;
    padding: 16px;
    font-size: 1em;
    border: none;
	z-index: 10;
}

.dropbtn a:hover {
	color: orange;
}


.dropdown {
    display: inline-block;
}

.dropdown-content {
	text-align: left;
	color: #D7D8E7;
	background-color: #1a1a1a;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: none;
	
	z-index: 11;
}

.dropdown-content a {
    color: #D7D8E7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1a1a1a; color: orange;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
	background-color: #1a1a1a;
	color: orange;
}

#forumlink:hover a{
	background-color: Transparent;
	color: orange;
}