@font-face { 
font-family: Overwatch; 
src: url("http://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff");
}

h1 {
	text-align: center;
	font-family: Overwatch;
	font-size: 10em;
	color: #D7D8E7;
}

#character-list ul {
	text-align: center;
}

#character-list ul li {
	display: inline-block;
	font-family: Overwatch;
	font-size: 2.5em;
	color: orange;
	padding: 0em .5em 0em .5em;
	text-decoration: underline;
}

#character-list ul li a:hover {
	color: orange;
}
#character-div table {
	text-align: center;
	margin: auto;
}
#character-div table td p {
	font-size: 2.5em;
	font-family: Overwatch;
	color: #D7D8E7;
}

#character-div table tr td {
	text-align: center;
	margin: 1em;
	padding: 1em;
}

#character-div table tr td:hover {
	background-color: orange;
}
#character-div table tr td:hover p {
	color: black;
}
.render {
	zoom: 50%;
}
.roleicon {
	zoom: 25%;
}
#character-div table img{
	
	
	/*-webkit-transform: skew(25rad);
    -ms-transform: skew(25rad);
    transform: skew(25rad);
	Used to skew images, not needed here but may be useful somewhere else */
}